@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100vh;
}

.container{
    margin: 5em;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.title{
    font-size: 1.5em;
    font-weight: 600;
    color: #7b7b7b;
    cursor: pointer;
}

.title:hover{
    transition: 0.4s all ease-in-out;
    border-bottom: 2px solid rgba(255, 17, 69, 0.555);
}


.title::before{
    transition: 0.4s all ease-in-out;
    border-bottom: 2px solid rgba(0, 0, 0, 0.452);
}


.options{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.options button {
    cursor: pointer;
    min-width: 20%;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 0.6rem;
    border-radius: 0.5em;
    border: none;
    background: #09ee;
    color: #eee;
    font-weight: bold;
}

.form-formation{
    margin: 0 auto;
    width: 80%;
    border-radius: 0.2rem;
    background: rgb(6, 92, 204);
}


.form{
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem;
    color: #fff;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    box-shadow: 0.2rem 0.3rem 0.3rem rgb(24, 8, 82);
}


.form label{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    font-weight: 500;
    flex-direction: column;
}


.form input{
    padding: 0.8rem;
    border: none;
    background: #e9e9e9;
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
}

.form input:focus{
    outline: 0.4px solid #eee;
}


.form button , .add-btn-task{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    text-align: center;
    font-weight: 600;
    background: rgb(0, 173, 226);
    color: #fff;
    cursor: pointer;
}

.timer-formation{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.timer{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(138, 138, 138);
    font-size: 2.5em;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
}


.timer-border{
    width: 320px;
    height: 320px;
    border: 5px solid rgb(0, 173, 226);
    opacity: 80%;
    box-shadow: 0.1rem 0.0rem 0.5rem  rgb(0, 173, 226);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-bar{
    width: 50%;
    padding: 0.3rem;
    background:  #f14;
    border-radius: 0.5rem;
}

.btn {
    margin: 0 auto;
    width: 100%;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.btn button{
    min-width: 35%;
    display: flex;
    border: none;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
}

.btn button:nth-child(1){
    background: rgba(5, 201, 5, 0.863);
}

.btn button:nth-child(2){
    background: #f14;
}

.btn button:nth-child(3){
    background: rgb(233, 155, 10);
}

.time:nth-child(1)::before{
    content: '';
}

.time::before{
    content: ' : ';
}


.btn button:hover , .options button:hover{
    transition: 0.4s all ease-in-out;
    background: rgb(8, 8, 70);
}

.visible{
    display: none;
}

.count{
    position: absolute;
    top: 10;
    left: 10;
    color: #7b7b7b;
    font-size: 1.2em;
}

@media (max-width: 425px){
    .title h2{
        text-align: center;
        font-size: 0.8em;
    }

    .options button{
        min-width: 80%;
    }

    .btn{
        flex-direction: column;
    }

    .btn button{
        min-width: 60%;
    }


    .timer{
        width: 200px;
        height: 200px;
        font-size: 1.2em;
    }


    .timer-border{
        width: 250px;
        height: 250px;
    }

    .form-formation{
        margin: 0 auto;
        width: 100%;
    }
  
}

/* Tasks */

.container-todo{
    margin-top: 5em;
}

.todo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.title-task{
    width: 80%;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(155, 155, 155);
}


.todo-form{
    display: flex;
    justify-content: space-between;
    background: #eee;
    border-radius: 0.5rem;
}

.todo-form input{
    background: #eee;
}

.todo-form button{
    background: #f14;
    color: #eee;
    font-weight: 500;
    cursor: pointer;
}

.todo-form input , .todo-form button{
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
}

.taskItem{
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #444;
    border-radius: 0.8rem;
    background: #eee;
    transition: 0.5s all ease-in-out;
    color: #444;
    font-weight: 600;
}


.taskItem:hover{
    transition: 0.5s all ease-in-out;
    background: rgb(4, 4, 51);
    box-shadow: 0.1rem 0.1rem 0.5rem rgb(32, 32, 32);
    color: #fff;
}


.delete{
    border: none;
    border-radius: 0.5rem;
    padding: 0.4em;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

